body{

}
#banner {
    width: 100%;
}
.principal
 {
    background: #ccccc ;
    padding: 30px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
em strong {
    color:aqua
}
#missao {
    font-size: 20px;
}
.itens{
    font-style:italic
}
.beneficios {
    background: #FFFFFF;
    padding: 20px;
}
em strong {
    color:aqua
}
.itens
font-sityle: #ffffff
padding:20px;
}
h2 {
    display:inline-block;
    vertical-aling:top
    windth:20%;
    margin-ringht:14%;
}
.imagenbeneficios{
    windth:50%;
}